@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');


body {
  background-image: url('media/bg3\ -\ Copy.jpg');
  background-repeat: repeat;
  overflow-x: hidden;
}

article {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* transition */
h1 {
  color: hsl(0, 0%, 30%);
    font-family: monospace;
  letter-spacing: 10px;
  cursor: auto;
}

h1 span {
  transition: 0.5s ease-out;
}
h1:hover span:nth-child(1) {
  margin-right: 5px;
}

h1:hover span:nth-child(2) {
  margin-left: 40px;
}
h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
/* shining */
article {
  color: hsl(0, 0%, 28%);
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 3px;
  cursor: auto;
  text-transform: uppercase;
}

article {
  padding: 64px;
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 20s infinite linear; 
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 1000px;
  }
}
/* icons */
.dance {
  transform-origin: center bottom;
  animation: swing 2s infinite;
}

@keyframes swing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
/* menu */
